<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Hadoop Job History</title>
<link href="./resource/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="./resource/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="./resource/jquery-2.2.3.min.js"></script>
<script src="./resource/jquery.dataTables.min.js"></script>
<script src="./resource/dataTables.buttons.min.js"></script>
<script src="./resource/buttons.html5.min.js"></script>
<script src="./resource/hadoop.job.history.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body>
<h1 style="display:inline">Hadoop Job History</h1>
<p style="display:inline;" id="last-update"></p>
<input type="checkbox" id="autoupdate" name="autoupdate" checked> Auto Update
<select id="applications" name="applications">
</select>
<p style="display:inline;">from</p>
<input type="date" id="from-date" name="from-date" value="2019-01-01">
<input type="time" id="from-time" name="from-time" value="00:00">
<p style="display:inline;">to</p>
<input type="date" id="to-date" name="to-date" value="2019-12-31">
<input type="time" id="to-time" name="to-time" value="23:59">
<input type="button" value="GO" onclick="getData();"/>
<canvas id="myChart"></canvas>
<div id="section">
<table id='applicationTable' class="display nowrap" cellspacing="0" width="100%"></table>
<p id='msgNoData' style="display:none;">No Data.</p>
<font color="ff0000">
<p id='msgFailToGetData' style="display:none;">Failed to get data.</p>
</font>
</div>
</body>
</html>
